body, html{
	height: 100%;
	margin: 0;
	font-family: Georgia, Times, serif;
}
.center{
	margin-left:auto;
	margin-right:auto;
	display:inline-block;
	width:40px;
	height:40px;
}
.link-container{
	position: absolute;
	left: 0;
	top: 20%;
	width: 100%;
	text-align: center;
}
.img1, .img2, .img3 {
	position: relative;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.img1 {
	background-image: url("images/nyc_skyline.jpg");	
	height: 100%;
	opacity: 0.9;
}
.img2 {
	background-image: url("images/mountain_landscape.jpg");	
	min-height: 500px;
	opacity: 0.9;
}
.img3 {
	background-image:url("images/shanghai_skyline.jpg");
	min-height: 600px;
	opacity: 0.9;
}
.header1{
	position: absolute;
	left: 0;
	top: 20%;
	width: 100%;
	text-align: center;
}
.header2{
	position: absolute;
	left: 0;
	top: 40%;
	width: 100%;
	text-align: center;
}
.header3{
	position: absolute;
	left: 0;
	top: 10%;
	width: 100%;
	text-align: center;
}
.header4{
	position: absolute;
	left: 0;
	top: 10%;
	width: 100%;
	text-align: center;
}
.header1 span.border{
	font-size: 30px;
	background-color: #111;
	color: #fff;
	padding: 18px;
	letter-spacing: 3px;
	font-family: Georgia, Times, serif;
} 
.header2 span.border, .header3 span.border, .header4 span.border{
	font-size: 25px;
	background-color: #111;
	color: #fff;
	padding: 18px;
	letter-spacing: 1px;
	font-family: Georgia, Times, serif;
}
.about{
	position: absolute;
	top: 25%;
	text-align: justify;
	left: 50px;
	right: 50px;
}
.about div.border{
	font-size: 14px;
	background-color: #111;
	color: #fff;
	padding: 18px;
	font-family: Georgia, Times, serif;
	border-style: solid;
  	border-color: white;
}
.email{
	position: absolute;
	left: 0;
	top: 40%;
	width: 100%;
	text-align: center;
}
.email span.border{
	font-size: 15px;
	background-color: #111;
	color: #fff;
	padding: 18px;
	letter-spacing: 1px;
	font-family: Georgia, Times, serif;
}

select{
	width: 60px;
}
.proj,.proj:link,.proj:visited{
	position: absolute;
	color: white;
	background-color: #111;
	left: 20px;
	text-decoration: none;
	padding: 10px;
	border:none;
	outline:none;
}
.proj:hover{
	color: #f5993d;
}
body#calculator{
	background-color: #fff0b3;
	font-family: Georgia, Times, serif;
	padding-left: 10px;
}
button{
	font-family: Georgia, Times, serif;
	padding: 5px;
	background-color:black;
	color:white;
	border-style: none;
	letter-spacing: 1px;
}
button:hover{
	opacity: 0.6;
}